.cardContainer {
  height: 100vh;
  background-color: #fff9e1;
  padding: 3.6vh 0vh;
}

.categoryTitle {
  font-size: 2.25rem;
  font-weight: 400;
  color: #ff8d01;
  text-align: center;
  margin-bottom: 2.5rem;
}

.wordCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: lightblue; */
}

.progressBarContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2.125rem;
}

.progressBar {
  width: 343px;
  height: 18px;
  border-radius: 100px;
  background: #fff;
  overflow: hidden;
}

.progressFill {
  height: 18px;
  width: 0;
  border-radius: 100px;
  background-color: #ffd200;
  transition: width 0.3s ease-out;
}
